$font-stack: 'Work Sans', sans-serif;
$red: #E5343E;
$blue: #252036;
/*------------------------------------*\
    #Resets
\*------------------------------------*/
//@import 'normalize';

/*html a {
	text-decoration: none;
}

html ul li{
	list-style-type: none;
}

html ul {
	padding: 0px;
	margin: 0px;
}*/

input:focus {outline:none;}
textarea:focus, input:focus {outline: 0;}
/*------------------------------------*\
    #Section-General
\*------------------------------------*/
.contactos .logo-M.logo-m-1 {
    fill: $red;
}
.contactos .menu-btn, .contactos .menu-btn::after, .contactos .menu-btn::before {
    background: $blue;
}

.contactos .menu-btn.active {
	background: transparent;
}

.contactos .menu-btn.active::before {
  background: white;
}

.contactos .menu-btn.active::after {
  background: white;
}


.contactos {
	background-color: $lightgray;
	height: auto;

}
.main-content {

	min-height: 100vh;
    height: auto;
    box-sizing: border-box;
}
/*
 * Changes to display and position of element; should be relative,
 * avoid ABSOLUTES AND FIXED ELEMENTS
 */
.m-background {
	/*background-image: url(/images/m-background.svg);
	background-repeat: no-repeat;
	height: 100vh;
	width: auto;
	background-size:cover;
	background-position: left top;
	display: block;
	position: absolute;*/
	position: relative;
	display: block;
	min-height: 100vh;
	margin: 0px;
	padding-bottom: 25px;
	height: auto;
	overflow: hidden;
	background-image: url(/images/m-background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  left top;
}

.contactos-wrap {	
	display: block;
}

/*------------------------------------*\
    #Section-1
\*------------------------------------*/

.address {
	margin-top: 100px;
	margin-left: 15px;
}

.contactos .subtitle {
	text-transform: initial;
	font-size: 1.7rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
	margin-bottom: 25px;
}

.contactos-text {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.8;
}

.contactos .title {
	color: $red;
	text-transform: none;
	margin-bottom: 30px;
	position: absolute;
	top: 350px;
}

.contactos .subtitle {
	padding-bottom: 0px;
}

.padding-bottom {
	padding-bottom: 80px;
}
/*------------------------------------*\
    #Form
\*------------------------------------*/
.left {
    display:flex;
    flex-direction:column;
}

.right {
    display:flex;
    flex-direction:column;
}

.form-contact {
	margin-top: 30vh;
}

.form-txt {
	font-size: 1rem;
	font-weight: 400;
	border-radius: 0;
	opacity: 0.6;
}
.form {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.form-group-row {
	display: table-row;
	width: 100%;
}
.form-column {
	width: 100%;
	padding-right: 0px;
	float: left;
	display:table-cell;
	box-sizing: border-box;
}

.form-item {
	font-size: 1.2rem;
	border-radius: 0;
	border-color: $blue;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	box-shadow: none;
	background: transparent;
	padding-bottom: 10px;
	margin-top: 30px;
	color: $blue;
	width: 100%;
}

.form-row {
	width: 100%;
	padding-right: 0px;
	float: left;
	display:table-cell;
	box-sizing: border-box;
}

.form-message {
	font-size: 1.2rem;
	border-radius: 0;
	border-color: $blue;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	box-shadow: none;
	background: transparent;
	padding-bottom: 10px;
	margin-top: 30px;
	color: $blue;
	padding-right: 0px;
	width: 100%;
}

.form-item:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-message::-webkit-input-placeholder { /* Chrome */
	font-size: 1rem;
	color: $blue;
	opacity: 0.6;
}

.form-item::-webkit-input-placeholder { /* Chrome */
	font-size: 1rem;
	color: $blue;
	opacity: 0.6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 1rem;
	color: $blue;
	opacity: 0.6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 1rem;
	color: $blue;
	opacity: 0.6;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 1rem;
	color: $blue;
	opacity: 0.6;
}
::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 1rem;
	color: $blue;
	opacity: 0.6;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: $blue;
	background-image: none;
	color: $blue;
}

.button-align {
	text-align: center;
}

/*------------------------------------*\
    #MQ
\*------------------------------------*/


@media screen and (min-width: 1024px) {	

	// #changes - margin-right ?
	.address {
		margin-top: 45vh;
		margin-left: 15vw;
    	//margin-right: 30px;
	}

	.contactos-wrap {	
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.contactos .title {
		position: absolute;
    	top: 25vh;
    	left: 0;
	}

	.form-contact {
		width: 40vw;
	}

	.contactos .subtitle {
		font-size: 2.6rem;
	}	

	.contactos-text {
		font-size: 1.3rem;
		line-height: 2;
	}

	.form-contact {
		margin-top: 45vh;
	}

	.form {
		display: table;
		border-collapse: collapse;
		width: 100%;
	}

	.form-group-row {
		display: table-row;
		width: 100%;
	}

	.form-column {
		width: 50%;
		padding-right: 20px;
		float: left;
		display:table-cell;
		box-sizing: border-box;
	}

	.form-item {
		font-size: 1.2rem;
		border-radius: 0;
		border-color: $blue;
		border-width: 0 0 1px 0;
		border-style: none none solid none;
		box-shadow: none;
		background: transparent;
		padding-bottom: 10px;
		margin-top: 30px;
		color: $blue;
		width: 100%;
	}

	.form-row {
		width: 100%;
		padding-right: 40px;
		float: left;
		display:table-cell;
		box-sizing: border-box;
	}

	.form-message {
		font-size: 1.2rem;
		border-radius: 0;
		border-color: $blue;
		border-width: 0 0 1px 0;
		border-style: none none solid none;
		box-shadow: none;
		background: transparent;
		padding-bottom: 10px;
		margin-top: 30px;
		color: $blue;
		padding-right: 20px;
		width: 100%;
	}

	.form-txt {
		font-size: 1rem;
		font-weight: 400;
		border-radius: 0;
		opacity: 0.6;
	}

	.form-control {
		font-size: 1.3rem;
	}

	.form-control::-webkit-input-placeholder { /* Chrome */
		font-size: 1.2rem;
		color: $blue;
		opacity: 0.6;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 1.2rem;
		color: $blue;
		opacity: 0.6;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 1.2rem;
		color: $blue;
		opacity: 0.6;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-size: 1.2rem;
		color: $blue;
		opacity: 0.6;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		font-size: 1.2rem;
		color: $blue;
		opacity: 0.6;
	}
	input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
		background-color: $blue;
		background-image: none;
		color: $blue;
	}

	// #changes - cursor
	.contactos button {
		margin: 20px 0;
		cursor: pointer;
	}
	.button-align {
		text-align: left;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {

}
