
/*------------------------------------*\
    #Resets
\*------------------------------------*/
@import 'normalize';
@import 'base';
@import 'clientes';
@import 'sobre';
@import 'equipa';
@import 'servicos';
@import 'contactos';


/*html a {
	text-decoration: none;
}

html ul li{
	list-style-type: none;
}

html ul {
	padding: 0px;
	margin: 0px;
}*/
/*------------------------------------*\
    #Layout
\*------------------------------------*/
//$font-stack: 'Work Sans', sans-serif;

/*:root {
	background-color: white;
	font-family: $font-stack;
	font-weight: 100;
	line-height: 1.5;
	font-size: 62.5%;
	color: $blue;
}

body {
	overflow-x: hidden;
}*/

/*------------------------------------*\
    #Section-1
\*------------------------------------*/
.section-1 {
	background-image: url("/images/main_image_S.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	background-size:cover;
	background-position:center center;
	z-index: -1;
	color: white;
	display: block;
	position: relative;
}

.home-titles {
	padding-top: 55vh;
}
.no-margin {
	margin-right: 0px;
}
/*------------------------------------*\
    #Section-2
\*------------------------------------*/
.section-2 {
	height: auto;
	width: 100%;
	position: relative;
	text-align: center;
}

.hello-wrap {
    width: 100%;
    padding: 40px 15px 20px 15px;
    box-sizing: border-box;
}

.hello {
	margin: 0 ;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.text-1 {
	font-size: 1.5rem;
	font-weight: 300;
	text-align: left;
	line-height: 1.6;
    letter-spacing: 0.1rem;
}

/*------------------------------------*\
    #Section-3
\*------------------------------------*/
// #changes - background-size
.image-block {
	background-image: url("/images/office_S.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	background-position: center center;
	display: block;
	position: relative;
	background-size: cover;
}

/*------------------------------------*\
    #MQ
\*------------------------------------*/
@media screen and (min-width: 1024px) {	
	.home-titles {
		padding-top: 42vh;
	}
	.section-1 {
		background-image: url("/images/main_image_L.jpg");
		background-repeat: no-repeat;
		width: 100%;
		height: 100vh;
		background-size:cover;
		background-position:center center;
		z-index: -1;
		color: white;
		display: block;
		position: relative;
	}

	.hello-wrap {
		padding: 80px 0px 40px 0px;
		width: 33.3333337%;
		margin: 0 auto;
		text-align: left;		
	}

	.hello-wrap:before {
	    content: "HELLO";
	    color: $gray;
	    line-height: 2.4;
	    font-size: 13rem;
	    font-weight: 400;
	    letter-spacing: 4rem;
	   	position: absolute; 
	   	top: 0px;
	   	left: 50%;
    	transform: translateX(-50%);
	    margin: 0 auto;
	    padding: 0;
	    z-index: -10;
	   	text-align: center;
	   	vertical-align: -50%;
	   	opacity: 0.7;
	}

	.image-block {
		background-image: url("/images/office_L.jpg");
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {

}
